---
    name: ci

    on:
      push:
        branches:
          - main
      pull_request:
        branches:
          - main

    jobs:
        test:
            if: ${{github.event_name=='push' || github.event_name=='pull_request'}}
            runs-on: ubuntu-latest
            steps:
            - uses: actions/checkout@v4

            - name: testing
              run: |
                    docker build -f dockerTests/dockerfile -t test:latest .
                    docker run test:latest

        build-and-push-image:
            if: ${{github.event_name=='push'}}
            runs-on: ubuntu-latest
            needs: test
            steps:
                - name: Checkout code
                  uses: actions/checkout@v4
                - name: Setting up docker buildx
                  uses: docker/setup-buildx-action@v3
                - name: Login to DockerHub
                  uses: docker/login-action@v3
                  with:
                    username: ${{ secrets.DOCKER_USERNAME }}
                    password: ${{ secrets.DOCKER_PASSWORD }}
                - name: Build and push flask App
                  uses: docker/build-push-action@v6
                  with:
                    context: .
                    push: true
                    tags: |
                        ${{ secrets.DOCKER_USERNAME }}/flask-app:latest
                        ${{ secrets.DOCKER_USERNAME }}/flask-app:${{ github.sha }}
                    cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/flask-app:buildcache
                    cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/flask-app:buildcache,mode=max